section{
    padding: 5rem 7%;
}

/*Editors Page Panel and Layout Design*/
.team .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.team .box-container .box{
    position: relative;
    overflow: hidden;
    text-align: center;
}

.team .box-container .box .image{
    height: 36rem;
    width: 100%;
    overflow: hidden;
}

.team .box-container .box .image img{
    width: auto;
    height: 100%;
    object-fit: absolute;
    border: solid;
}

.team .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

.team .box-container .box .content h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.team .box-container .box .content p{
    font-size: 15px;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

.team .box-container .box .content .share i:hover{
    color: var(--white);
    background: var(--primary);
}

/*------------team - end---------------*/